/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: #333;
  min-height: 100vh !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.canvas {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.3);
}
